name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  lint:
    name: Code Quality
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4

    - name: Set up Pixi
      uses: prefix-dev/setup-pixi@v0.9.3
      with:
        pixi-version: v0.59.0
        cache: true

    - name: Check code formatting
      run: pixi run format-check

    - name: Lint code
      run: pixi run lint-check

